.footer {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  margin-top: auto;
  background-color: black;
  color: white;
  text-align: center;
  width: 100vw;
  padding: 20px 0px;
  font-size: 20px;
}
